<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vivian's H2Impact</title>

    <!-- Bootstrap Core CSS -->
    <link href='/static/css/bootstrap.min.css' rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script data-main='/static/js/main' src="/static/jsx/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script data-main='/static/js/main' src="/static/jsx/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script data-main='/static/js/main' src="/static/jsx/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script data-main='/static/js/main' src="/static/jsx/grayscale.js"></script>

    <script src="//d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="/static/jsx/liquidFillGauge.js" language="JavaScript"></script>
    <style>
        .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
    </style>

    <link href="/static/c3/c3.css" rel="stylesheet" type="text/css">

    <!-- Load d3.js and c3.js -->
    <script src="/static/c3/c3.min.js"></script>
</head>

<body style="background-color:#ED4849" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                   H2Impact
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <br><br><br><br><br>
        <div class="row">
            <div class="col-md-8">
                <br>
                <img style="margin-top:-60px" src="/static/img/water-droplet.png">

                 <div class="row" style="margin-top: -100px">
                   <div style="background: lightcoral">
                    <div id="chart"></div>
                        <script language="JavaScript">
                            var chart = c3.generate({
                                data: {
                                    columns: [
                                        ['Actual Shower Time', 10, 11, 17, 8, 10, 13],
                                        ['Ideal Shower Time', 12.5, 12.5, 12.5, 12.5, 12.5, 12.5]
                                    ],
                                    types: {
                                        data1: 'area',
                                        data2: 'line'
                                    },
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div  class="col-md-3" style="background-color:#F15C5C;margin-left:30px">
                <div  >
                    <div class="shower">
                                        <br><br>
                        <h4>How long did you shower today?</h4>
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="Time in minutes">
                            <span class="input-group-btn">
                                <button  style="color:#ACD373" class="btn btn-default submit" type="button">Enter</button>
                            </span>
                        </div>
                    </div>
                    <!--<div>Min Shower Time {{min}}</div>
                    <div>Max Shower Time {{max}}</div>
                    <div>Average Shower Time {{average}}</div>-->
                    <br><br>
                    <div class="impact">
                        <h4>Your H2Impact&trade;</h4>
                        <div style="margin-top:-30px; color:deepskyblue">
                            <i class="fa fa-tint"></i>
                            <i class="fa fa-tint"></i>
                            <i class="fa fa-tint"></i>
                            <i class="fa fa-tint"></i>
                            <i class="fa fa-tint"></i>
                            <i class="fa fa-tint"></i>
                            <h6>10 gallons</h6>
                        </div>
                        <ul id="impact">
                            <li>100 more cows have milk</li>
                            <li>12 more pounds of bacon </li>
                            <li>50 more watermelons</li>

                        </ul>
                    </div></div>

                <div class="usage">
                    <br><br>
                    <h4 style="margin-bottom:0px">Daily Usage</h4>
                    <svg id="fillgauge2" width="97%" height="300"></svg>
                    <script language="JavaScript">
                        var config1 = liquidFillGaugeDefaultSettings();
                        config1.circleColor = "#fff";
                        config1.textColor = "#fff";
                        config1.waveAnimate = true;
                        config1.waveAnimateTime = 2000;
                        config1.waveRise = false;
                        config1.waveOffset = 0.25;
                        config1.textSize = 0.75;
                        config1.waveCount = 1;
                        config1.displayPercent = false;
                        loadLiquidFillGauge("fillgauge2", 55, config1);
                    </script>
                </div>
            </div>
        </div>
        <br>
    </header>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <h6> Copyright &copy; H2Impact &trade; - Dropbox Summer Hack Day 2015 </h6>
        </div>
    </footer>

</body>

</html>
